In [31]:
import numpy as np
import pandas as pd

In [32]:
data = pd.read_csv('Downloads/HIV_AIDS_Diagnoses_by_Neighborhood__Sex__and_Race_Ethnicity.csv')

In [33]:
data.head()

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,Willowbrook,Male,Unknown,0,0,0,0,0,0

In [34]:
data.describe()

              YEAR
count  2928.000000
mean   2011.500000
std       1.118225
min    2010.000000
25%    2010.750000
50%    2011.500000
75%    2012.250000
max    2013.000000

In [35]:
data.isna().sum()

YEAR                                                                    0
Neighborhood (U.H.F)                                                    0
SEX                                                                     0
RACE/ETHNICITY                                                          0
TOTAL NUMBER OF HIV DIAGNOSES                                           0
HIV DIAGNOSES PER 100,000 POPULATION                                   68
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                           0
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    68
TOTAL NUMBER OF AIDS DIAGNOSES                                          0
AIDS DIAGNOSES PER 100,000 POPULATION                                  68
dtype: int64

In [36]:
data_row = data[data.isna().any(axis=1)]

In [37]:
data_row

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
14,2013,Unknown,Male,Multiracial,7,NaN,0,NaN,1,NaN
45,2013,Unknown,Female,Unknown,0,NaN,0,NaN,0,NaN
95,2011,Unknown,Female,Asian/Pacific Islander,0,NaN,0,NaN,0,NaN
105,2012,Unknown,Male,Native American,0,NaN,0,NaN,0,NaN
242,2011,Unknown,Male,Hispanic,74,NaN,4,NaN,42,NaN
...,...,...,...,...,...,...,...,...,...,...
2760,2010,Unknown,Male,Black,101,NaN,13,NaN,70,NaN
2833,2012,Unknown,Male,All,275,NaN,36,NaN,168,NaN
2888,2011,Unknown,Male,Unknown,0,NaN,0,NaN,0,NaN
2917,2013,Unknown,Female,All,32,NaN,2,NaN,42,NaN
2922,2010,Unknown,Male,Multiracial,2,NaN,0,NaN,1,NaN

In [38]:
data_unknown =data[data['Neighborhood (U.H.F)']=='Unknown']
data_unknown_NA = data_unknown[data_unknown['HIV DIAGNOSES PER 100,000 POPULATION']=='' ]

In [39]:
data_unknown

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
14,2013,Unknown,Male,Multiracial,7,NaN,0,NaN,1,NaN
45,2013,Unknown,Female,Unknown,0,NaN,0,NaN,0,NaN
95,2011,Unknown,Female,Asian/Pacific Islander,0,NaN,0,NaN,0,NaN
105,2012,Unknown,Male,Native American,0,NaN,0,NaN,0,NaN
242,2011,Unknown,Male,Hispanic,74,NaN,4,NaN,42,NaN
...,...,...,...,...,...,...,...,...,...,...
2760,2010,Unknown,Male,Black,101,NaN,13,NaN,70,NaN
2833,2012,Unknown,Male,All,275,NaN,36,NaN,168,NaN
2888,2011,Unknown,Male,Unknown,0,NaN,0,NaN,0,NaN
2917,2013,Unknown,Female,All,32,NaN,2,NaN,42,NaN
2922,2010,Unknown,Male,Multiracial,2,NaN,0,NaN,1,NaN

In [40]:
data_star=data[data['TOTAL NUMBER OF HIV DIAGNOSES']=='*']

In [42]:
data_star.shape

(10, 10)

In [43]:
data_star = data[data.isin(['*']).any(axis=1)]

In [45]:
data_star.shape

(17, 10)

In [124]:
data_cleaned = data[~data.isna().any(axis=1)]
data_cleaned = data_cleaned[~data_cleaned.isin(['*']).any(axis=1)]
data_cleaned = data_cleaned[~data_cleaned.isin(['Unknown']).any(axis=1)]

In [125]:
data_cleaned

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
5,2013,East Flatbush - Flatbush,Male,Black,54,56.5,8,14.8,33,34.5
6,2013,East Flatbush - Flatbush,Female,Native American,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2923,2013,Sunset Park,Male,Hispanic,8,26.4,0,0,6,19.8
2924,2013,High Bridge - Morrisania,Female,Multiracial,0,0,0,0,0,0
2925,2010,Bedford Stuyvesant - Crown Heights,Male,Native American,0,0,0,0,0,0
2926,2011,Long Island City - Astoria,Male,Black,6,97.6,1,16.7,3,48.8
2927,2011,Bensonhurst - Bay Ridge,Female,Hispanic,0,0,0,0,0,0

In [126]:
data_cleaned['AIDS DIAGNOSES PER 100,000 POPULATION'].describe()

count     2507
unique     685
top          0
freq      1116
Name: AIDS DIAGNOSES PER 100,000 POPULATION, dtype: object

In [127]:
to_bin_columns= ['TOTAL NUMBER OF HIV DIAGNOSES', 'HIV DIAGNOSES PER 100,000 POPULATION', 'TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES', 'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES', 'TOTAL NUMBER OF AIDS DIAGNOSES', 'AIDS DIAGNOSES PER 100,000 POPULATION']
for to_bin in to_bin_columns:
    data_cleaned[to_bin]=pd.cut(np.array(data_cleaned[to_bin]).astype('float32'), 3, labels= ['Low', 'Medium', 'High'],ordered=True)

In [130]:
data_cleaned.head()

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,Greenpoint,Male,Black,Low,Medium,Low,Low,Low,Medium
1,2011,Stapleton - St. George,Female,Native American,Low,Low,Low,Low,Low,Low
2,2010,Southeast Queens,Male,All,Low,Low,Low,Low,Low,Low
5,2013,East Flatbush - Flatbush,Male,Black,Low,Low,Low,Low,Low,Low
6,2013,East Flatbush - Flatbush,Female,Native American,Low,Low,Low,Low,Low,Low

In [131]:
data_cleaned.shape

(2507, 10)

In [132]:
for column in data.columns:
    data_cleaned[column] = data_cleaned[column].apply(lambda x: column+"="+ str(x))

In [133]:
data.columns

Index(['YEAR', 'Neighborhood (U.H.F)', 'SEX', 'RACE/ETHNICITY',
       'TOTAL NUMBER OF HIV DIAGNOSES', 'HIV DIAGNOSES PER 100,000 POPULATION',
       'TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
       'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
       'TOTAL NUMBER OF AIDS DIAGNOSES',
       'AIDS DIAGNOSES PER 100,000 POPULATION'],
      dtype='object')

In [134]:
data_cleaned.to_csv("INTEGRATED_DATASET.csv", index=False)