In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Downloads/HIV_AIDS_Diagnoses_by_Neighborhood__Sex__and_Race_Ethnicity.csv')

In [3]:
data.head()

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,Willowbrook,Male,Unknown,0,0,0,0,0,0

In [4]:
data.describe()

              YEAR
count  2928.000000
mean   2011.500000
std       1.118225
min    2010.000000
25%    2010.750000
50%    2011.500000
75%    2012.250000
max    2013.000000

In [5]:
data.isna().sum()

YEAR                                                                    0
Neighborhood (U.H.F)                                                    0
SEX                                                                     0
RACE/ETHNICITY                                                          0
TOTAL NUMBER OF HIV DIAGNOSES                                           0
HIV DIAGNOSES PER 100,000 POPULATION                                   68
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                           0
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    68
TOTAL NUMBER OF AIDS DIAGNOSES                                          0
AIDS DIAGNOSES PER 100,000 POPULATION                                  68
dtype: int64

In [6]:
data_row = data[data.isna().any(axis=1)]

In [7]:
data_row

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
14,2013,Unknown,Male,Multiracial,7,NaN,0,NaN,1,NaN
45,2013,Unknown,Female,Unknown,0,NaN,0,NaN,0,NaN
95,2011,Unknown,Female,Asian/Pacific Islander,0,NaN,0,NaN,0,NaN
105,2012,Unknown,Male,Native American,0,NaN,0,NaN,0,NaN
242,2011,Unknown,Male,Hispanic,74,NaN,4,NaN,42,NaN
...,...,...,...,...,...,...,...,...,...,...
2760,2010,Unknown,Male,Black,101,NaN,13,NaN,70,NaN
2833,2012,Unknown,Male,All,275,NaN,36,NaN,168,NaN
2888,2011,Unknown,Male,Unknown,0,NaN,0,NaN,0,NaN
2917,2013,Unknown,Female,All,32,NaN,2,NaN,42,NaN
2922,2010,Unknown,Male,Multiracial,2,NaN,0,NaN,1,NaN

In [8]:
data_unknown =data[data['Neighborhood (U.H.F)']=='Unknown']
data_unknown_NA = data_unknown[data_unknown['HIV DIAGNOSES PER 100,000 POPULATION']=='' ]

In [9]:
data_unknown

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
14,2013,Unknown,Male,Multiracial,7,NaN,0,NaN,1,NaN
45,2013,Unknown,Female,Unknown,0,NaN,0,NaN,0,NaN
95,2011,Unknown,Female,Asian/Pacific Islander,0,NaN,0,NaN,0,NaN
105,2012,Unknown,Male,Native American,0,NaN,0,NaN,0,NaN
242,2011,Unknown,Male,Hispanic,74,NaN,4,NaN,42,NaN
...,...,...,...,...,...,...,...,...,...,...
2760,2010,Unknown,Male,Black,101,NaN,13,NaN,70,NaN
2833,2012,Unknown,Male,All,275,NaN,36,NaN,168,NaN
2888,2011,Unknown,Male,Unknown,0,NaN,0,NaN,0,NaN
2917,2013,Unknown,Female,All,32,NaN,2,NaN,42,NaN
2922,2010,Unknown,Male,Multiracial,2,NaN,0,NaN,1,NaN

In [10]:
data_star=data[data['TOTAL NUMBER OF HIV DIAGNOSES']=='*']

In [11]:
data_star.shape

(10, 10)

In [12]:
data_star = data[data.isin(['*']).any(axis=1)]

In [13]:
data_star.shape

(17, 10)

In [14]:
data_cleaned = data[~data.isna().any(axis=1)]
data_cleaned = data_cleaned[~data_cleaned.isin(['*']).any(axis=1)]
data_cleaned = data_cleaned[~data_cleaned.isin(['Unknown']).any(axis=1)]

In [15]:
data_cleaned

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
5,2013,East Flatbush - Flatbush,Male,Black,54,56.5,8,14.8,33,34.5
6,2013,East Flatbush - Flatbush,Female,Native American,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2923,2013,Sunset Park,Male,Hispanic,8,26.4,0,0,6,19.8
2924,2013,High Bridge - Morrisania,Female,Multiracial,0,0,0,0,0,0
2925,2010,Bedford Stuyvesant - Crown Heights,Male,Native American,0,0,0,0,0,0
2926,2011,Long Island City - Astoria,Male,Black,6,97.6,1,16.7,3,48.8
2927,2011,Bensonhurst - Bay Ridge,Female,Hispanic,0,0,0,0,0,0

In [16]:
to_bin_columns= ['TOTAL NUMBER OF HIV DIAGNOSES' 'HIV DIAGNOSES PER 100,000 POPULATION', 'TOTAL NUMBER OF AIDS DIAGNOSES', 'AIDS DIAGNOSES PER 100,000 POPULATION']
for to_bin in to_bin_columns:
    data_cleaned[to_bin]=pd.qcut(np.array(data_cleaned[to_bin]).astype('float32'), 4,  duplicates='drop',labels=["Low", "Medium", "High"])

KeyError: 'TOTAL NUMBER OF HIV DIAGNOSESHIV DIAGNOSES PER 100,000 POPULATION'

In [91]:
data_cleaned.head()

,YEAR,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,Greenpoint,Male,Black,Medium,High,0,0,Medium,High
1,2011,Stapleton - St. George,Female,Native American,Low,Low,0,0,Low,Low
2,2010,Southeast Queens,Male,All,High,Medium,5,21.7,High,Medium
5,2013,East Flatbush - Flatbush,Male,Black,High,High,8,14.8,High,High
6,2013,East Flatbush - Flatbush,Female,Native American,Low,Low,0,0,Low,Low

In [92]:
data_cleaned = data_cleaned.rename(columns={"HIV DIAGNOSES PER 100,000 POPULATION": "HIV PER 100K", "AIDS DIAGNOSES PER 100,000 POPULATION": "AIDS PER 100K"})

In [93]:
data_cleaned.shape

(2507, 10)

In [95]:
for column in data_cleaned.columns:
    data_cleaned[column] = data_cleaned[column].apply(lambda x: column+"="+ str(x))

In [96]:
data_cleaned.columns

Index(['Neighborhood (U.H.F)', 'SEX', 'RACE/ETHNICITY',
       'TOTAL NUMBER OF HIV DIAGNOSES', 'HIV PER 100K',
       'TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
       'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
       'TOTAL NUMBER OF AIDS DIAGNOSES', 'AIDS PER 100K'],
      dtype='object')

In [97]:
data_cleaned = data_cleaned.drop(columns=['YEAR','TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES', 'PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES'])

In [98]:
data_cleaned.to_csv("INTEGRATED-DATASET.csv", index=False)